:root {
  --c-text: #0c0c0c;
  --c-text-light1: #5a5a5a;
  --c-link: #2f64bf;
  --c-link-nav: #344a71;
  --zing: #c15087;
  --fade: #aaaaaa;
  --code-border: #8fb3de;
  --c-code: #901d05;
  --zebra-background: #f3e0d3;
  --l: 0.2mm;
  --r: 1mm;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: var(--c-link);
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  color: var(--c-text);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

body > * {
  width: 100%;
  max-width: 20cm;
  box-sizing: border-box;
  padding: 0 1em;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}

.header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding: 0 0.2em;
  margin: 0 0.2em;
  box-sizing: border-box;
  border-bottom: var(--l) solid transparent;
  color: var(--c-link-nav);
}

.header a:hover {
  border-color: var(--fade);
}

.blog-title {
  margin-right: 1.5em;
}

.body {
  flex-grow: 1;
}

.index {
  display: none;
}

.toc-level {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

.toc-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.toc .indices {
  margin-right: 0.2em;
}

.toc .index:last-child:after {
  content: '.';
}

.toc .index:last-child {
  display: initial;
}

.toc-level.depth-2,
.toc-level.depth-4,
.toc-level.depth-6,
.toc-level.depth-8 {
  border-left: var(--l) solid var(--fade);
}

.body .title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3em;
}

.body .title h1 {
  order: 0;
  width: 100%;
}

.body .title .author,
.body .title .time {
  color: var(--c-text-light1);
  line-height: 1em;
}

.body .title .author a,
.body .title a.time {
  color: var(--c-link-nav);
}

.body .title time {
  order: 1;
}

.body .title .author {
  order: 2;
}

.body .title .author:before {
  content: " ⛬ ";
  display: inline;
  color: var(--zing);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 0.5em;
  position: relative;
  gap: 1em;
}

.footer a {
  color: var(--c-link-nav);
}

.footer:before {
  left: 35%;
  top: -0.5em;
  position: absolute;
  content: '';
  border-top: var(--l) solid var(--fade);
  display: inline-block;
  width: 30%;
}

.footer:empty:before {
	display: none;
}

.footer .doc-tags-list {
  text-align: right;
  flex-grow: 1;
}

.doc-tags-item {
  display: inline-block;
  margin: 0.2em;
  color: var(--c-link-nav);
}

.doc-tags-item:before {
  content: "#";
  font-size: 0.9em;
  color: var(--c-text-light1);
  margin: 0.1em;
}

a[name]:hover > *:after {
  content: "¶";
  margin-left: 1em;
  font-size: 12pt;
  align-self: center;
  color: var(--c-text-light1);
}

h1 {
  font-weight: normal;
  font-size: 1.9em;
  border-bottom: var(--l) solid black;
  grid-row: 1;
  grid-column: 1 / span 2;
  margin: 0.5em 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--c-text);
  display: flex;
  flex-direction: row;
}

h2 {
  font-weight: normal;
  border-bottom: var(--l) solid var(--fade);
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  font-weight: normal;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

h5 {
  font-weight: bold;
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

h6 {
  font-weight: normal;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  font-size: 1em;
  width: max-content;
}

h6 span.text:first-letter {
  border-bottom: var(--l) solid var(--fade);
}

code {
  font-family: monospace, monospace;
  border-radius: var(--r);
  color: var(--c-code);
  padding: 0 0.2em;
  white-space: pre-wrap;
  font-size: 1em;
}

code.inline {
  display: inline-table;  /* make baseline 1st line hack */
}

code.block {
  border: var(--l) solid var(--code-border);
  display: block;
  padding: 0.5em;
  margin: 0.5em 0;
}

img {
  max-width: 100%;
}

p {
  margin: 1em 0;
  line-height: 1.3em;
}

li {
  margin-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.doc-items {
  display: flex;
  flex-direction: column;
}

.doc-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0.5em;
  padding: 0.2em 1em;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5em;
}

.doc-item:nth-child(even) {
  background-color: var(--zebra-background);
  border-radius: var(--r);
}

.doc-item .list-link {
  flex-grow: 1;
  order: 2;
  text-align: right;
}

.doc-item .author {
  order: 1;
  padding: 0 0.5em;
}

.doc-item .author:before {
  content: " — ";
}

.doc-item time {
  order: 0;
}

.list-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.list-list .list-link {
  display: block;
  padding: 1em;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.paginator-link {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: var(--r);
  border: var(--l) solid transparent;
  margin: 1em;
  color: var(--c-link-nav);
}

.paginator-link:hover {
  border: var(--l) solid var(--fade);
}
